body,html,header,section,div,ul,li,a,p,h1{
    padding:0;
    margin:0;
    font-family:"微软雅黑";
}
li{
    list-style:none;
}
a{
    text-decoration:none;
}

.hd{
    width:100%;
    height:60px;
    background-color:rgba(0,0,0,0.8);
    position:fixed;

    top:0;
    left:0;
    z-index:1;
}
.hd .inner{
    width:980px;
    margin:0 auto;
    height:60px;
}
.hd .logo{ float:left;
    margin-top:16px;
    margin-right:20px;
}
.hd nav{
    float:left;
}
.hd nav li{
    float:left;
}
.hd nav li a{
    line-height:60px;
    display:block;
    padding:0 20px;
    color:#fff;
}
.hd nav li a:hover{
    background:#FC0;
    color:rgba(0,0,0,0.8);
}
/*section1*/
.section1_content{
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
}
.p_content{
    position: absolute;
    top: 30%;
    left: 15%;
    width: 70%;
    height: 400px;

}
#p1{
    position: absolute;
    left: 235px;
    top: 50px;
    font-family: cursive,'Lato', sans-serif;
    font-size: 70px;
    font-weight: 400;
    white-space: nowrap;
    color: #2c3e50;
}
#p2{
    position: absolute;
    top: 190px;
    left: 350px;
    font-family: cursive,'Lato', sans-serif;
    font-size: 30px;
    white-space: nowrap;
    color: #2c3e50;

}

/*section1*/
/*section2*/
.s2_con{
    position: relative;
    width: 70%;
    height: 100%;
    margin: 0 auto;

}
#about_content{
    position: absolute;
    width: 100%;
    height:80% ;

    top: 10%;
}
#about_content h2{
    position: absolute;
    width:95px;
    height: 50px;
    border-bottom: 2px solid red;
    font-family: cursive,'Lato', sans-serif;
    font-size: 30px;
    top:10%;
    left:43%;
    color: #2c3e50;
}
.about{
    position: absolute;
    width: 100%;
    height:80%;

    top: 25%;
}
.about_pic{
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius:100px ;

    background: url(../images/about.jpg) no-repeat;
    background-size: 100%;
    top: 10%;
    left: 39%;

}
#about_p{
    position: absolute;
    width: 70%;
    top: 65%;
    left: 15%;
    line-height: 28px;
    white-space: nowrap;
    text-indent: 2em;
}
/*section2*/


































